<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">
</head>
<body>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">
    <div class="container center">
        <h1>Spring Framework Guru!</h1>
        <p class="lead" th:text="#{index.courses.tagLine}">Tagline</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="#{index.courses.headLine}">HeadLine</h1>
        </div>
    </div>


    <table class="table">
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.courseName}"></td>
        </tr>
    </table>


    <div class="row course-list list" th:remove="all">
        <div class="col-md-4">
            <div class="course-listing">
                <div class="row">
                    <a data-role="course-box-link" href="/product/3">
                        <div class="col-lg-12">
                            <div class="course-box-image-container">
                                <img src="../static/images/J8mqML4lQRmUmM4gdCW0_Thumb_Thymeleaf.png"
                                     th:src="@{/images/J8mqML4lQRmUmM4gdCW0_Thumb_Thymeleaf.png}" alt="thymeleaf"
                                     class="course-box-image">
                            </div>
                            <div class="course-listing-title">Thymeleaf</div>
                            <div class="course-listing-sutitle">Rocket out with Thymeleaf!</div>
                        </div>
                    </a>
                </div>
                <div class="course-listing-extra-info col-xs-12">
                    <div class="col-sx-8">
                        <img src="../static/images/no_avatar.jpg" th:src="@{/images/no_avatar.jpg}" alt="Noname"
                             class="img-cirle" width="30" height="30">
                    </div>

                </div>

                <div class="col-xs-4">
                    <div class="course-author-name">John Smith</div>
                    <div class="col-sm-4 price">$15</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
<script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>