<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">
</head>
<body>
<div class="jumbotron">
    <div class="container center">
        <h1 th:text="${product.courseName}">Spring Framework Guru!</h1>
        <p class="lead" th:text="#{index.courses.tagLine}">Tagline</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 th:text="${product.courseSubtitle}">Spring Framework Guru - Course name</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="../static/images/J8mqML4lQRmUmM4gdCW0_Thumb_Thymeleaf.png"
                     th:src="@{'/images/' + ${product.imageUrl}}" alt="center-block img-repsonsive">
                <div class="row course-listing-extra-info col-xs-12">
                    <div class="col-xs-8">
                        <img align="left" width="30" height="30" src="../static/images/no_avatar.jpg" th:src="@{'/images/' + ${product.author.image}}" alt="">
                        <div class="small course-author-name" th:text="${(product.author.firstName) + ' ' + (product.author.lastName)}">
                            John Thomson
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="small course-price" th:text="${product.price > 0 ? product.price : 'FREE'}"></div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <h1 th:text="${product.courseName}">Course title</h1>
                <p th:text="${product.courseDescription}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Illum sunt totam vitae. Ab blanditiis
                    debitis
                    dolores ducimus ex facilis hic labore, non placeat porro, quasi quia quod rem repellendus
                    repudiandae!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi, aspernatur consequatur
                    deleniti dolores, dolorum eaque ex laboriosam maiores minima perferendis quidem quisquam quos
                    ratione
                    repudiandae sed, tempore! Aspernatur, eaque.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam assumenda aut beatae dolor
                    dolores
                    esse itaque, modi mollitia numquam omnis pariatur quidem rem repudiandae sunt ullam voluptatum!
                    Fuga,
                    perspiciatis?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda deserunt earum
                    eveniet, minus nihil quaerat sint tempora? Asperiores aspernatur commodi doloremque ea earum ex
                    illum, inventore ipsa rem soluta!
                </p>
                <div class="row">
                    <div class="col-md-offset-6 col-md-4">
                        <button class="btn btn-success" th:text="#{button.buy.now}">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
<script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</body>
</html>